* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

.title {
  background-color: silver;
  color: #000;
  padding: 5px;
}

.image {
  padding: 5px;
  border-radius: 10px;
  width: 440px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  transition: box-shadow .25s;
}

.image:hover {
  box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.25);
}

.images-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

button {
  background-color: rgb(8, 174, 8);
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  color: #fff;
}

button:hover {
  background-color: rgb(4, 117, 4);
}

.buttons-container {
  margin-top: 14px;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-around;
}

.author {
  background-color: #000;
  height: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active img {
  width: auto;
}

@media (max-width: 360px) {
  .image {
    width: 95%;
    font-size: 10px;
  }

  .title {
    font-size: 18px;
    text-align: center;
  }
}